<div id="page-content">
    <!-- Forms General Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-notes_2"></i>Novo centro de custo<br><small>Em caso de dúvidas, contate o coordenador</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Centro de Custo</li>
        <li><a href="">Criar</a></li>
    </ul>
    <!-- END Forms General Header -->

    <div class="row">
        <div class="col-md-12">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">Sem bordas</a>
                    </div>
                    <h2><strong>Informações</strong> Básicas</h2>
                </div>
                <!-- END Form Elements Title -->

                <!-- Basic Form Elements Content -->
                <form class="form-horizontal form-bordered" ng-submit="cadastrar()">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="cota">Cota</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" required id="cota" name="cota" class="form-control" placeholder="100" ng-model="custo.descricao">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="custoFixoPreta">Custo Fixo - Preta</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" required id="custoFixoPreta" name="custoFixoPreta" class="form-control" placeholder="0.1" ng-model="custo.custoFixoPreta">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="custoFixoColorida">Custo Fixo - Colorida</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" required id="custoFixoColorida" name="custoFixoColorida" class="form-control" placeholder="0.1" ng-model="custo.custoFixoColorida">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="valorExcPreta">Valor Excedente - Preta</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" required id="valorExcPreta" name="valorExcPreta" class="form-control" placeholder="0.1" ng-model="custo.valorExcPreta">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="valorExcColorida">Valor Excedente - Colorida</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" required id="valorExcColorida" name="valorExcColorida" class="form-control" placeholder="0.1" ng-model="custo.valorExcColorida">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3  control-label" for="data-inicio">Data início</label>
                        <div class="col-md-9">
                            <input type="text" required id="data-inicio" name="data-inicio" class="form-control input-datepicker" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="custo.dataInicio">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3  control-label" for="data-fim">Data fim</label>
                        <div class="col-md-9">
                            <input required type="text" id="data-fim" name="data-fim" class="form-control input-datepicker" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="custo.dataFim">
                        </div>
                    </div>
                        
                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Criar</button>
                        </div>
                    </div>
                </form>
                <!-- END Basic Form Elements Content -->
            </div>
            <!-- END Basic Form Elements Block -->
        </div>

    </div>

</div>