<div id="page-content">
    <!-- Forms General Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-notes_2"></i>Editar disciplina<br><small>Em caso de dúvidas, contate o coordenador</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Disciplina</li>
        <li><a href="">Editar</a></li>
    </ul>
    <!-- END Forms General Header -->

    <div class="row">
        <div class="col-md-12">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">Sem bordas</a>
                    </div>
                    <h2><strong>Informações</strong> Básicas</h2>
                </div>
                <!-- END Form Elements Title -->

                <!-- Basic Form Elements Content -->
                <form class="form-horizontal form-bordered" ng-submit="alterar()">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="descricao">Descrição</label>
                        <div class="col-md-9">
                            <input type="text" required id="descricao" name="descricao" class="form-control" placeholder="Física" ng-model="disciplina.descricao">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="serie">Série</label>
                        <div class="col-md-9">
                            <input type="text" required id="serie" name="serie" class="form-control" placeholder="7ª série" ng-model="disciplina.serie">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="segmento">Segmento</label>
                        <div class="col-md-9">
                            <input type="text" required id="segmento" name="segmento" class="form-control" placeholder="Matutino" ng-model="disciplina.segmento">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Ativo</label>
                        <div class="col-md-9">
                            <div class="radio">
                                <label for="ativo1">
                                    <input type="radio" required id="ativo1" name="ativo" ng-model="disciplina.ativo" value="true" checked="checked"> Sim
                                </label>
                            </div>
                            <div class="radio">
                                <label for="ativo2">
                                    <input type="radio" required id="ativo2" name="ativo" ng-model="disciplina.ativo" value="false"> Não
                                </label>
                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Alterar</button>
                        </div>
                    </div>
                </form>
                <!-- END Basic Form Elements Content -->
            </div>
            <!-- END Basic Form Elements Block -->
        </div>

    </div>

</div>