<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-notes_2"></i>Lista de disciplinas<br><small>Em caso de dúvidas, contate o coordenador</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Editar</li>
        <li><a href="">Disciplinas</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Lista</strong> geral</h2>
        </div>
        <p>Abaixo a lista de disciplinas cadastrados</p>

        <div class="table-responsive">
            <table id="lista-usuarios" class="table table-vcenter table-condensed table-bordered">
                <thead>
                    <tr>
                        <!-- <th class="text-center"></th> -->
                        <th>Descrição</th>
                        <th>Segmento</th>
                        <th>Série</th>
                        <th>Professores</th>
                        <th>Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="disciplina in disciplinas">
                        <td>{{disciplina.descricao}}</td>
                        <td>{{disciplina.segmento}}</td>
                        <td>{{disciplina.serie}}</td>
                        <td>{{disciplina.professores}}</td>
                        <td><span class="label" ng-class="disciplina.ativo ? 'label-success' : 'label-info'" >{{disciplina.ativo && 'ativo' || 'inativo'}}</span></td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a ng-href="#!/editar-disciplina/{{disciplina.id}}" data-toggle="tooltip" title="Editar" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                <a ng-click="disciplina.ativo ? desativar(disciplina.id) : ativar(disciplina.id)" data-toggle="tooltip" title="Trocar status" class="btn btn-xs" ng-class="disciplina.ativo ? 'btn-danger' : 'btn-success'"><i class="fa" ng-class="disciplina.ativo ? 'fa-times' : 'fa-check'"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->
</div>