<div id="page-content">
    <!-- Forms General Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-notes_2"></i>Editar requisição<br><small>Em caso de dúvidas, contate o coordenador</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Requisição</li>
        <li><a href="">Editar</a></li>
    </ul>
    <!-- END Forms General Header -->

    <div class="row">
        <div class="col-md-12">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">Sem bordas</a>
                    </div>
                    <h2><strong>Informações</strong> Básicas</h2>
                </div>
                <!-- END Form Elements Title -->

                <!-- Basic Form Elements Content -->
                <form class="form-horizontal form-bordered" ng-submit="alterar()"  enctype="multipart/form-data">

                    <!-- <div class="form-group">
                        <label class="col-md-3 control-label">Solicitante</label>
                        <div class="col-md-9">
                            <p class="form-control-static">Otávio</p>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <label class="col-md-3 control-label">Duplex</label>
                        <div class="col-md-9">
                            <div class="radio">
                                <label for="duplex1">
                                    <input required type="radio" id="duplex1" name="duplex" ng-model="requisicao.duplex" value="true" ng-value="requisicao.duplex"> Sim
                                </label>
                            </div>
                            <div class="radio">
                                <label for="duplex2">
                                    <input required type="radio" id="duplex2" name="duplex" ng-model="requisicao.duplex" value="false"> Não
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Grampeada</label>
                        <div class="col-md-9">
                            <div class="radio">
                                <label for="grampeada1">
                                    <input required type="radio" id="grampeada1" name="grampeada" ng-model="requisicao.grampeada" value="true"> Sim
                                </label>
                            </div>
                            <div class="radio">
                                <label for="grampeada2">
                                    <input required type="radio" id="grampeada2" name="grampeada"ng-model="requisicao.grampeada" value="false"> Não
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label">Colorida</label>
                        <div class="col-md-9">
                            <div class="radio">
                                <label for="colorida1">
                                    <input required type="radio" id="colorida1" name="colorida" ng-model="requisicao.colorida" value="true"> Sim
                                </label>
                            </div>
                            <div class="radio">
                                <label for="colorida2">
                                    <input required type="radio" id="colorida2" name="colorida" ng-model="requisicao.colorida" value="false"> Não
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="numero_paginas">Número de páginas <span class="text-danger">*</span></label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input step="1" min="1" required type="number" id="numero_paginas" name="numero_paginas" class="form-control" placeholder="1" ng-model="requisicao.numeroDePaginas">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="numero_copias">Número de cópias <span class="text-danger">*</span></label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input step="1" min="1" required type="number" id="numero_copias" name="numero_copias" class="form-control" placeholder="1" ng-model="requisicao.numeroDeCopias">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="arquivo">Arquivo</label>
                        <div class="col-md-9">
                            <input required type="file" id="arquivo" name="arquivo" file-model="arquivo">
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <label class="col-md-4 control-label" for="data_abertura">Data de abertura</label>
                        <div class="col-md-6">
                            <input type="text" id="data_abertura" name="data_abertura" class="form-control" disabled >
                        </div>
                    </div> -->

                    <div class="form-group">
                        <label class="col-md-3 control-label">Status</label>
                        <div class="col-md-9">
                            <p class="form-control-static">Em elaboração</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="disciplina">Disciplina</label>
                        <div class="col-md-9">
                            <select id="disciplina" required name="disciplina" class="form-control" size="1" ng-model="disciplinaSelecionada">
                                    <option value="" selected>---Selecione---</option>    
                                    <option ng-repeat="disc in disciplinasProfessor" value="{{disc.id}}">{{disc.descricao}}</option>
                            </select>
                        </div>
                    </div> 
                   
                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Alterar</button>
                        </div>
                    </div>
                </form>
                <!-- END Basic Form Elements Content -->
            </div>
            <!-- END Basic Form Elements Block -->
        </div>

    </div>

</div>