<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-notes_2"></i>Lista de usuários<br><small>Em caso de dúvidas, contate o coordenador</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Editar</li>
        <li><a href="">Usuários</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Lista</strong> geral</h2>
        </div>
        <p>Abaixo a lista de usuários cadastrados</p>

        <div class="table-responsive">
            <table id="lista-usuarios" class="table table-vcenter table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Usuário</th>
                        <th>Email</th>
                        <th>Perfil</th>
                        <th>Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usuario in usuarios">
                        <td class="text-center">{{usuario.id}}</td>
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.perfil.nome}}</td>
                        <td><span class="label" ng-class="usuario.ativo ? 'label-success' : 'label-info'" >{{usuario.ativo && 'ativo' || 'inativo'}}</span></td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a ng-href="#!/editar-usuario/{{usuario.id}}" data-toggle="tooltip" title="Editar" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                <a ng-click="usuario.ativo ? desativar(usuario.id) : ativar(usuario.id)" data-toggle="tooltip" title="Trocar status" class="btn btn-xs" ng-class="usuario.ativo ? 'btn-danger' : 'btn-success'"><i class="fa" ng-class="usuario.ativo ? 'fa-times' : 'fa-check'"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->
</div>