<div id="page-content">
    <!-- Dashboard Header -->
    <!-- For an image header add the class 'content-header-media' and an image as in the following example -->
    <div class="content-header content-header-media">
        <!-- <div class="header-section"> -->
            <!-- <div class="row"> -->
                <!-- Main Title (hidden on small devices for the statistics to fit) -->
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <!-- <h1>Bem vindo <strong>{{nome}}</strong><br><small>Tenha um bom dia!</small></h1> -->
                </div>
                <!-- END Main Title -->

                <!-- Top Stats -->

                <!-- END Top Stats -->
            <!-- </div> -->
        <!-- </div> -->
        <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
        <img src="../static/img/placeholders/headers/dashboard_header.jpg" alt="header image" class="animation-pulseSlow">
    </div>
    <!-- END Dashboard Header -->

    <!-- Mini Top Stats Row -->
    <div class="row">
            <iframe id="ytplayer" type="text/html" width="100%" height="405"
            src="https://www.youtube.com/embed/3sX3k2ltiWg?autoplay=1&loop=1&rel=0&muted=1"
            frameborder="0" allowfullscreen>
        <!-- <div class="col-sm-6 col-lg-3">
           
            <a href="requisicao.html" class="widget widget-hover-effect1">
                <div class="widget-simple">
                    <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                        <i class="fa fa-file-text"></i>
                    </div>
                    <h3 class="widget-content text-right animation-pullDown">
                        Nova <strong>requisição</strong><br>
                        <small>Vamos lá!</small>
                    </h3>
                </div>
            </a>
            
        </div>
        <div class="col-sm-6 col-lg-3">
               
                <a href="page_ready_article.html" class="widget widget-hover-effect1">
                    <div class="widget-simple">
                        <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                            <i class="fa fa-file-text"></i>
                        </div>
                        <h3 class="widget-content text-right animation-pullDown">
                            Requisições <strong>canceladas</strong><br>
                        </h3>
                    </div>
                </a>
                
        </div>
        <div class="col-sm-6 col-lg-3">
           
            <a href="page_comp_charts.html" class="widget widget-hover-effect1">
                <div class="widget-simple">
                    <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                        <i class="fa fa-file-text"></i>
                    </div>
                    <h3 class="widget-content text-right animation-pullDown">
                        Requisições<strong> em aberto</strong><br>
                    </h3>
                </div>
            </a>
            
        </div>
        <div class="col-sm-6 col-lg-3">
           
            <a href="page_comp_gallery.html" class="widget widget-hover-effect1">
                <div class="widget-simple">
                    <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
                        <i class="fa fa-file-text"></i>
                    </div>
                    <h3 class="widget-content text-right animation-pullDown">
                        Requisições<strong> finalizadas</strong><br>
                    </h3>
                </div>
            </a>
            
        </div> -->
    </div>

    <!-- <div class="row">
        <form>
            <input type="text" name="title" value="title" ng-model="post.title">
            <input type="text" name="body" value="body" ng-model="post.body">
            <input type="button" value="Enviar" ng-click="salvarPost()">
        </form>
        <div class="col-sm-6 col-lg-3" ng-repeat="post in posts">
            {{post.id}}
        </div>
    </div> -->
    <!-- END Mini Top Stats Row -->

    <!-- Widgets Row -->
    <!-- END Widgets Row -->
</div>