<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-notes_2"></i>Requisições aprovadas<br><small>Em caso de dúvidas, contate o suporte</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Aprovadas</li>
        <li><a href="">Requisição</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Lista</strong> geral</h2>
        </div>
        <p>Abaixo as requisições que foram aprovadas</p>

        <div class="table-responsive">
            <table id="lista-requisicoes" class="table table-vcenter table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Disciplina</th>
                        <th>N. cópias</th>
                        <th>N. páginas</th>
                        <th>Arquivo</th>
                        <th>Abertura</th>
                        <th>Observação</th>
                        <th>Status</th>
                        <th class="text-center">Anexo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="requisicao in requisicoes">
                        <td class="text-center">{{requisicao.id}}</td>
                        <td>{{requisicao.professorDisciplina.disciplina.descricao }}</td>
                        <td>{{requisicao.numeroDeCopias}}</td>
                        <td>{{requisicao.numeroDePaginas}}</td>
                        <td>{{requisicao.nomeArquivo}}</td>
                        <td>{{requisicao.historico[0].data}}</td>
                        <td>{{requisicao.observacao}}</td>
                        <td><span class="label" ng-class="requisicao.andamentoVigente.status.descricao=='Aprovada' ? 'label-success' : requisicao.andamentoVigente.status.descricao=='Cancelada' ? 'label-danger' : requisicao.andamentoVigente.status.descricao=='Concluída' ? 'label-default' : requisicao.andamentoVigente.status.descricao=='Em Avaliação' ? 'label-warning' : 'label-primary'" >{{requisicao.andamentoVigente.status.descricao}}</span></td>
                        <td class="text-center">
                                <div class="btn-group">
                                    <a ng-click="baixar(requisicao.id,requisicao.nomeArquivo)" data-toggle="tooltip" title="Baixar anexo" class="btn btn-xs" ng-class="'btn-warning'"><i class="fa" ng-class="'fa-angle-double-down'"></i></a>
                                </div>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->
</div>