<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" ng-app="app"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>SGSI</title>
        <!-- <base href="/" /> -->

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="../static/css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="../static/css/main.css">

        <!-- Include a specific file here from ../static/css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="../static/css/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
        <script src="../static/js/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>

        <script src="../static/js/vendor/angular.min.js"></script>
        <script src="../static/js/vendor/angular-route.js"></script>

        <!-- MÓDULO PRINCIPAL -->
        <script src="../static/js/App.js"></script>

        <!-- USUÁRIO -->
        <script src="../static/js/controllers/usuario-controller.js"></script>
        <script src="../static/js/controllers/editar-usuario-controller.js"></script>
        <script src="../static/js/controllers/editar-usuario-especifico-controller.js"></script>
        
        <!-- DISCIPLINA -->
        <script src="../static/js/controllers/disciplina-controller.js"></script>
        <script src="../static/js/controllers/editar-disciplina-controller.js"></script>
        <script src="../static/js/controllers/editar-disciplina-especifico-controller.js"></script>

        <!-- PROFESSOR DISCIPLINA -->
        <script src="../static/js/controllers/professor-disciplina-controller.js"></script>
        <script src="../static/js/controllers/editar-professor-disciplina-especifico-controller.js"></script>

        <!-- CENTRO DE CUSTO -->
        <script src="../static/js/controllers/centro-custo-controller.js"></script>
        <script src="../static/js/controllers/editar-centro-custo-controller.js"></script>
        <script src="../static/js/controllers/editar-centro-custo-especifico-controller.js"></script>

        <!-- REQUISIÇÃO - PROFESSOR -->
        <script src="../static/js/controllers/requisicao-controller.js"></script>
        <script src="../static/js/controllers/editar-requisicao-controller.js"></script>
        <script src="../static/js/controllers/editar-requisicao-especifico-controller.js"></script>

        <!-- REQUISIÇÃO - COORDENADOR -->
        <script src="../static/js/controllers/aprovar-requisicao-controller.js"></script>
        <script src="../static/js/controllers/aprovar-requisicao-especifico-controller.js"></script>
        <script src="../static/js/controllers/requisicoes-aprovadas-controller.js"></script>

        <!-- REQUISIÇÃO - REPROGRAFIA -->
        <script src="../static/js/controllers/concluir-requisicao-controller.js"></script>
        <script src="../static/js/controllers/concluir-requisicao-especifico-controller.js"></script>
        <script src="../static/js/controllers/requisicoes-concluidas-controller.js"></script>

        <!-- RELATÓRIOS - MAPA REQUISIÇÃO -->
        <script src="../static/js/controllers/mapa-requisicao-controller.js"></script>
        <script src="../static/js/controllers/mapa-requisicao-especifico-controller.js"></script>

        <!-- RELATÓRIOS - CUSTO -->
        <script src="../static/js/controllers/relatorio-custo-controller.js"></script>

        <!-- RELATÓRIOS - DISCIPLINA -->
        <script src="../static/js/controllers/relatorio-disciplina-controller.js"></script>

        <!-- RELATÓRIOS - USUÁRIO -->
        <script src="../static/js/controllers/relatorio-usuario-controller.js"></script>

        <!-- RELATÓRIOS - SEGMENTO -->
        <script src="../static/js/controllers/relatorio-segmento-controller.js"></script>

        <!-- INTERCEPTADOR DE REQUISIÇÕES -->
        <script src="../static/js/interceptor/token-interceptor.js"></script>

    </head>
    <body ng-controller="appController">

        <div id="page-wrapper">

            <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
                <!-- Alternative Sidebar -->
                <div id="sidebar-alt">
                    <!-- Wrapper for scrolling functionality -->
                    <!-- END Wrapper for scrolling functionality -->
                </div>
                <!-- END Alternative Sidebar -->

                <!-- Main Sidebar -->
                <div id="sidebar">
                    <!-- Wrapper for scrolling functionality -->
                    <div class="sidebar-scroll">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            
                            <!-- Brand -->
                            <a href="index.html" class="sidebar-brand" style="text-align: center">
                                <strong><img src="../static/img/logo-login.png" alt="Login" class="animation-pulseSlow" width="70"></strong>
                            </a>
                            <!-- END Brand -->

                            <!-- User Info -->
                            <div class="sidebar-section sidebar-user clearfix">
                                <div class="sidebar-user-avatar">
                                    <a href="index.html">
                                        <img src="../static/img/placeholders/avatars/avatar2.jpg" alt="avatar">
                                    </a>
                                </div>
                                <div class="sidebar-user-name">{{nome}}</div>
                                <div class="sidebar-user-links">
                                    <!-- <a href="page_ready_user_profile.html" data-toggle="tooltip" data-placement="bottom" title="Perfil"><i class="gi gi-user"></i></a> -->
                                    <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                                    <a href="javascript:;" onclick="logout()" data-toggle="tooltip" data-placement="bottom" title="Sair"><i class="gi gi-exit"></i></a>
                                </div>
                            </div>
                            <!-- END User Info -->

                            <!-- Sidebar Navigation -->
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="index.html" class=" active"><i class="gi gi-stopwatch sidebar-nav-icon"></i>Página Inicial</a>
                                </li>
                                <li class="sidebar-header">
                                    <!-- <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a><a href="javascript:void(0)" data-toggle="tooltip" title="Create the most amazing pages with the widget kit!"><i class="gi gi-lightbulb"></i></a></span> -->
                                    <!-- <span class="sidebar-header-title">Widget Kit</span> -->
                                </li>
                                <li class="sidebar-header">
                                    <span class="sidebar-header-title">MENU</span>
                                </li>
                                <li ng-show="checarPermissoes('TI, Gerente')">
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-plus sidebar-nav-icon"></i>Cadastrar</a>
                                    <ul>
                                        <li ng-show="checarPermissoes('TI')">
                                            <a ng-href="#!/cadastrar-usuario">Usuario</a>
                                        </li>
                                        <li ng-show="checarPermissoes('TI')">
                                            <a ng-href="#!/cadastrar-disciplina">Disciplina</a>
                                        </li>
                                        <li ng-show="checarPermissoes('Gerente')">
                                            <a ng-href="#!/cadastrar-centro-de-custo">Centro de Custo</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-show="checarPermissoes('TI, Gerente')">
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-edit sidebar-nav-icon"></i>Editar</a>
                                    <ul>
                                        <li ng-show="checarPermissoes('Gerente')">
                                            <a ng-href="#!/editar-centro-custo">Custo</a>
                                        </li>
                                        <li ng-show="checarPermissoes('TI')">
                                            <a ng-href="#!/editar-usuario">Usuário</a>
                                        </li>
                                        <li ng-show="checarPermissoes('TI')">
                                            <a ng-href="#!/editar-disciplina">Disciplina</a>
                                        </li>
                                        <li ng-show="checarPermissoes('TI')">
                                            <a ng-href="#!/professor-disciplina">Professor-Disciplina</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-show="checarPermissoes('Professor, Reprografia, Coordenador')">
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i>Requisições</a>
                                    <ul>
                                        <li ng-show="checarPermissoes('Professor')">
                                            <a ng-href="#!/nova-requisicao">Nova Requisição</a>
                                        </li>
                                        <li ng-show="checarPermissoes('Professor')">
                                            <a ng-href="#!/editar-requisicao">Editar Requisição</a>
                                        </li>
                                        <li ng-show="checarPermissoes('Coordenador')">
                                            <a ng-href="#!/aprovar-requisicao">Aprovar/Recusar requisição</a>
                                        </li>
                                        <li ng-show="checarPermissoes('Reprografia')">
                                            <a ng-href="#!/concluir-requisicao">Concluir requisição</a>
                                        </li>
                                        <!-- log -->
                                        <li ng-show="checarPermissoes('Coordenador')">
                                            <a ng-href="#!/requisicoes-aprovadas">Requisições aprovadas</a>
                                        </li>
                                        <li ng-show="checarPermissoes('Reprografia')">
                                            <a ng-href="#!/requisicoes-concluidas">Requisições concluídas</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-show="checarPermissoes('Gerente, Diretor')">
                                        <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i>Relatórios</a>
                                        <ul>
                                            <li ng-show="checarPermissoes('Gerente, Diretor')">
                                                <a ng-href="#!/mapa-requisicao">Mapa de requisição</a>
                                            </li>
                                            <li ng-show="checarPermissoes('Gerente')">
                                                <a ng-href="#!/relatorio-custo">Relatório de custo</a>
                                            </li>
                                            <li ng-show="checarPermissoes('Diretor')">
                                                <a ng-href="#!/relatorio-disciplina">Relatório por disciplina</a>
                                            </li>
                                            <li ng-show="checarPermissoes('Gerente')">
                                                <a ng-href="#!/relatorio-usuario">Relatório por professor</a>
                                            </li>
                                            <!-- <li ng-show="checarPermissoes('Diretor')">
                                                <a ng-href="#!/relatorio-segmento">Relatório por segmento</a>
                                            </li> -->
                                        </ul>
                                    </li>
                                <!-- <li ng-show="checarPermissoes('Professor')">
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i>Requisições</a>
                                    <ul>
                                        <li>
                                            <a href="requisicao.html">Nova</a>
                                        </li>
                                        <li>
                                            <a href="page_forms_general.html">Abertas</a>
                                        </li>
                                        <li>
                                            <a href="page_forms_general.html">Recusadas</a>
                                        </li>
                                        <li>
                                            <a href="page_forms_general.html">Finalizadas</a>
                                        </li>
                                        <li>
                                            <a href="page_tables_general.html">Visualizar requisições</a>
                                        </li>
                                        <li>
                                            <a href="page_forms_general.html">General</a>
                                        </li>
                                        <li>
                                            <a href="page_forms_components.html">Components</a>
                                        </li>
                                        <li>
                                            <a href="page_forms_validation.html">Validation</a>
                                        </li>
                                        <li>
                                            <a href="page_forms_wizard.html">Wizard</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-show="checarPermissoes('Gerente')">
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-table sidebar-nav-icon"></i>Aprovações</a>
                                    <ul>
                                        <li>
                                            <a href="page_tables_general.html">General</a>
                                        </li>
                                        <li>
                                            <a href="page_tables_responsive.html">Responsive</a>
                                        </li>
                                        <li>
                                            <a href="page_tables_datatables.html">Datatables</a>
                                        </li>
                                    </ul>
                                </li> -->
                                
                            </ul>
                            <!-- END Sidebar Navigation -->

                            <!-- Sidebar Notifications -->
                            
                            <!-- END Sidebar Notifications -->
                        </div>
                        <!-- END Sidebar Content -->
                    </div>
                    <!-- END Wrapper for scrolling functionality -->
                </div>
                <!-- END Main Sidebar -->

                <!-- Main Container -->
                <div id="main-container">
                    <!-- Header -->
                    <!-- In the PHP version you can set the following options from inc/config file -->
                    <!--
                        Available header.navbar classes:

                        'navbar-default'            for the default light header
                        'navbar-inverse'            for an alternative dark header

                        'navbar-fixed-top'          for a top fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())
                            'header-fixed-top'      has to be added on #page-container only if the class 'navbar-fixed-top' was added

                        'navbar-fixed-bottom'       for a bottom fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()))
                            'header-fixed-bottom'   has to be added on #page-container only if the class 'navbar-fixed-bottom' was added
                    -->

                    <header class="navbar navbar-default">
                        <!-- Left Header Navigation -->
                        <ul class="nav navbar-nav-custom">
                            <!-- Main Sidebar Toggle Button -->
                            <li>
                                <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                                    <i class="fa fa-bars fa-fw"></i>
                                </a>
                            </li>
                            <!-- END Main Sidebar Toggle Button -->

                            <!-- Template Options -->
                            <!-- Change Options functionality can be found in js/app.js - templateOptions() -->
                          
                            <!-- END Template Options -->
                        </ul>
                        <!-- END Left Header Navigation -->

                        
                    </header>

                    <!-- END Header -->
                    
                    <!-- Page content -->
                    <div id="page-content" ng-view="ng-view" style="min-height: calc(100vh - 84px);">
                        
                    </div>
                    <!-- END Page Content -->

                    <!-- Footer -->
                    <footer class="clearfix">
                        <div class="pull-right">
                            Rodrigo, Raphael, Luís e Mateus
                        </div>
                    </footer>
                    <!-- END Footer -->
                </div>
                <!-- END Main Container -->
            </div>
            <!-- END Page Container -->
        </div>
        <!-- END Page Wrapper -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

        <!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
        <div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h2 class="modal-title"><i class="fa fa-pencil"></i> Settings</h2>
                    </div>
                    <!-- END Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                            <fieldset>
                                <legend>Vital Info</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Username</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">Admin</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-email">Email</label>
                                    <div class="col-md-8">
                                        <input type="email" id="user-settings-email" name="user-settings-email" class="form-control" value="admin@example.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-notifications">Email Notifications</label>
                                    <div class="col-md-8">
                                        <label class="switch switch-primary">
                                            <input type="checkbox" id="user-settings-notifications" name="user-settings-notifications" value="1" checked>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Password Update</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-password">New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="user-settings-password" name="user-settings-password" class="form-control" placeholder="Please choose a complex one..">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-repassword">Confirm New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="user-settings-repassword" name="user-settings-repassword" class="form-control" placeholder="..and confirm it!">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group form-actions">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Modal Body -->
                </div>
            </div>
        </div>
        <!-- END User Settings -->

        <!-- Remember to include excanvas for IE8 chart support -->
        <!--[if IE 8]><script src="../static/js/helpers/excanvas.min.js"></script><![endif]-->

        
        

        <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>!window.jQuery && document.write(decodeURI('%3Cscript src="../static/js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

        <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="../static/js/vendor/bootstrap.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/app_effect.js"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="../static/js/pages/index.js"></script>
        <script>$(function(){ Index.init(); });</script>

        <script type="text/javascript" src="../static/js/tabelas.js"></script>
        

    </body>
</html>